<label>Server Name</label>

<p>Does not use two-way binding</p>
<input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)">

<p>Uses two-way binding</p>
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName">

<p>{{ serverName }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add Server</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{ serverCreationStatus }}</p>-->
<p *ngIf="serverCreated; else noServer;">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>

<h3>Assignment 2</h3>
<label for="username">Enter your username</label>
<input
  type="text"
  class="form-control"
  id="username"
  [(ngModel)]="username"
  (input)="onUpdateUsername($event)">
<p>{{ username }}</p>
<button
  class="btn btn-primary"
  [disabled]="!allowUsernameReset">Reset</button>

<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title">Assignment 3</div>
  </div>
  <div class="panel-body">
    <button
      class="btn btn-primary"
      (click)="onClickDisplayDetails()">Display Details</button>
    <p
      [ngClass]="{hidden: shouldHideSecretPassword}">Secret password = Tuna</p>

    <h3>Click Log</h3>
    <ul>
      <li
        *ngFor="let item of displayItemsLog; let i = index;"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent', color: i >= 4 ? 'white' : 'inherit'}">{{ item }}</li>
    </ul>
  </div>
</div>
