<div class="container">
  <h3>I'm in the AppComponent!</h3>
  <hr>
  <h3>Assignment 1</h3>
  <app-success-alert></app-success-alert>
  <app-warning-alert></app-warning-alert>
  <hr>
  <!--<app-servers></app-servers>-->
  <div class="app-servers"></div>

</div>

